<html>
<head>
    <title>storage/framework/views/11645604c66a043295727c16c23c5623.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">storage/framework/views/11645604c66a043295727c16c23c5623.php (<b>134</b> lines of code) (<a href="11645604c66a043295727c16c23c5623.php">raw</a>):</h3>
<div id="editor">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt;
        &lt;title&gt;Contact&lt;/title&gt;
        &lt;meta content=&quot;width=device-width, initial-scale=1.0&quot; name=&quot;viewport&quot;&gt;
        &lt;meta content=&quot;Construction Company Website Template&quot; name=&quot;keywords&quot;&gt;
        &lt;meta content=&quot;Construction Company Website Template&quot; name=&quot;description&quot;&gt;

        &lt;!-- Favicon --&gt;
        &lt;link href=&quot;img/favicon.ico&quot; rel=&quot;icon&quot;&gt;

        &lt;!-- Google Font --&gt;
        &lt;link href=&quot;https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap&quot; rel=&quot;stylesheet&quot;&gt;

        &lt;!-- CSS Libraries --&gt;
        &lt;link href=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/flaticon/font/flaticon.css&quot; rel=&quot;stylesheet&quot;&gt; 
        &lt;link href=&quot;lib/animate/animate.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/owlcarousel/assets/owl.carousel.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/lightbox/css/lightbox.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/slick/slick.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/slick/slick-theme.css&quot; rel=&quot;stylesheet&quot;&gt;

        &lt;!-- Template Stylesheet --&gt;
        &lt;link href=&quot;css/style.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;div class=&quot;wrapper&quot;&gt;
            &lt;!-- Top Bar Start --&gt;
            
            &lt;?php echo $__env-&gt;make('layout.topbar', array_diff_key(get_defined_vars(), ['__data' =&gt; 1, '__path' =&gt; 1]))-&gt;render(); ?&gt;
            
            &lt;!-- Top Bar End --&gt;

            &lt;!-- Nav Bar Start --&gt;
            
            &lt;?php echo $__env-&gt;make('layout.nav_bar', array_diff_key(get_defined_vars(), ['__data' =&gt; 1, '__path' =&gt; 1]))-&gt;render(); ?&gt;
            
            &lt;!-- Nav Bar End --&gt;
            
            
            &lt;!-- Page Header Start --&gt;
            &lt;div class=&quot;page-header&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-12&quot;&gt;
                            &lt;h2&gt;Support&lt;/h2&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-12&quot;&gt;
                            &lt;a href=&quot;&quot;&gt;Accueil&lt;/a&gt;
                            &lt;a href=&quot;&quot;&gt;Contact Nous&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Page Header End --&gt;


            &lt;!-- Contact Start --&gt;
            &lt;div class=&quot;contact wow fadeInUp&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div class=&quot;section-header text-center&quot;&gt;
                        &lt;p&gt;contactez-nous&lt;/p&gt;
                        &lt;h2&gt;pour tout probl&egrave;me et question&lt;/h2&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-md-6&quot;&gt;
                            &lt;div class=&quot;contact-info&quot;&gt;
                                &lt;div class=&quot;contact-item&quot;&gt;
                                    &lt;i class=&quot;flaticon-address&quot;&gt;&lt;/i&gt;
                                    &lt;div class=&quot;contact-text&quot;&gt;
                                        &lt;h2&gt;Adresse&lt;/h2&gt;
                                        &lt;p&gt;Oran, Alg&eacute;rie&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;contact-item&quot;&gt;
                                    &lt;i class=&quot;flaticon-call&quot;&gt;&lt;/i&gt;
                                    &lt;div class=&quot;contact-text&quot;&gt;
                                        &lt;h2&gt;T&eacute;l&eacute;phone&lt;/h2&gt;
                                        &lt;p&gt;+213 556487012&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;contact-item&quot;&gt;
                                    &lt;i class=&quot;flaticon-send-mail&quot;&gt;&lt;/i&gt;
                                    &lt;div class=&quot;contact-text&quot;&gt;
                                        &lt;h2&gt;Email&lt;/h2&gt;
                                        &lt;p&gt;info@khdamli.com&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-md-6&quot;&gt;
    &lt;div class=&quot;contact-form&quot;&gt;
        &lt;div id=&quot;success&quot;&gt;&lt;/div&gt;
        &lt;form action=&quot;&lt;?php echo e(route('messages.store')); ?&gt;&quot; method=&quot;POST&quot;&gt;
        &lt;?php echo csrf_field(); ?&gt;
    &lt;div class=&quot;control-group&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;name&quot; placeholder=&quot;Votre nom&quot; required /&gt;
    &lt;/div&gt;
    &lt;br&gt;
    &lt;div class=&quot;control-group&quot;&gt;
        &lt;input type=&quot;email&quot; class=&quot;form-control&quot; name=&quot;email&quot; placeholder=&quot;Votre email&quot; required /&gt;
    &lt;/div&gt;
    &lt;br&gt;
    &lt;div class=&quot;control-group&quot;&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;subject&quot; placeholder=&quot;Sujet&quot; required /&gt;
    &lt;/div&gt;
    &lt;br&gt;
    &lt;div class=&quot;control-group&quot;&gt;
        &lt;textarea class=&quot;form-control&quot; name=&quot;message&quot; placeholder=&quot;Message&quot; required&gt;&lt;/textarea&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;button class=&quot;btn&quot; type=&quot;submit&quot;&gt;Envoyer .&lt;/button&gt;
    &lt;/div&gt;
&lt;/form&gt;
&lt;?php if(session('success')): ?&gt;
    &lt;div class=&quot;alert alert-success alert-dismissible fade show&quot; role=&quot;alert&quot;&gt;
        &lt;?php echo e(session('success')); ?&gt;

        &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;alert&quot; aria-label=&quot;Fermer&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;?php endif; ?&gt;
&lt;?php if($errors-&gt;any()): ?&gt;
    &lt;div class=&quot;alert alert-danger&quot;&gt;
        &lt;ul class=&quot;mb-0&quot;&gt;
            &lt;?php $__currentLoopData = $errors-&gt;all(); $__env-&gt;addLoop($__currentLoopData); foreach($__currentLoopData as $error): $__env-&gt;incrementLoopIndices(); $loop = $__env-&gt;getLastLoop(); ?&gt;
                &lt;li&gt;&lt;?php echo e($error); ?&gt;&lt;/li&gt;
            &lt;?php endforeach; $__env-&gt;popLoop(); $loop = $__env-&gt;getLastLoop(); ?&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
&lt;?php endif; ?&gt;


                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Contact End --&gt;


            &lt;!-- Footer Start --&gt;
            
            &lt;?php echo $__env-&gt;make('layout.footer', array_diff_key(get_defined_vars(), ['__data' =&gt; 1, '__path' =&gt; 1]))-&gt;render(); ?&gt;
            
            &lt;!-- Footer End --&gt;

            &lt;a href=&quot;#&quot; class=&quot;back-to-top&quot;&gt;&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;

        &lt;!-- JavaScript Libraries --&gt;
        &lt;script src=&quot;https://code.jquery.com/jquery-3.4.1.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/easing/easing.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/wow/wow.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/owlcarousel/owl.carousel.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/isotope/isotope.pkgd.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/lightbox/js/lightbox.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/waypoints/waypoints.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/counterup/counterup.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/slick/slick.min.js&quot;&gt;&lt;/script&gt;
        
        &lt;!-- Contact Javascript File --&gt;
        &lt;script src=&quot;mail/jqBootstrapValidation.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;mail/contact.js&quot;&gt;&lt;/script&gt;

        &lt;!-- Template Javascript --&gt;
        &lt;script src=&quot;js/main.js&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
&lt;?php /**PATH C:\xampp\htdocs\artisan\resources\views/front/contact.blade.php ENDPATH**/ ?&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
