<html>
<head>
    <title>storage/framework/views/2db556e063e4147cdcf0bd304d565dce.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">storage/framework/views/2db556e063e4147cdcf0bd304d565dce.php (<b>183</b> lines of code) (<a href="2db556e063e4147cdcf0bd304d565dce.php">raw</a>):</h3>
<div id="editor">&lt;script&gt;

    (function () {
        const darkStyles = document.querySelector('style[data-theme=&quot;dark&quot;]')?.textContent
        const lightStyles = document.querySelector('style[data-theme=&quot;light&quot;]')?.textContent

        const removeStyles = () =&gt; {
            document.querySelector('style[data-theme=&quot;dark&quot;]')?.remove()
            document.querySelector('style[data-theme=&quot;light&quot;]')?.remove()
        }

        removeStyles()

        setDarkClass = () =&gt; {
            removeStyles()

            const isDark = localStorage.theme === 'dark' || (!('theme' in localStorage) &amp;&amp; window.matchMedia('(prefers-color-scheme: dark)').matches)

            isDark ? document.documentElement.classList.add('dark') : document.documentElement.classList.remove('dark')

            if (isDark) {
                document.head.insertAdjacentHTML('beforeend', `&lt;style data-theme=&quot;dark&quot;&gt;${darkStyles}&lt;/style&gt;`)
            } else {
                document.head.insertAdjacentHTML('beforeend', `&lt;style data-theme=&quot;light&quot;&gt;${lightStyles}&lt;/style&gt;`)
            }
        }

        setDarkClass()

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setDarkClass)
    })();
&lt;/script&gt;

&lt;div
    class=&quot;relative&quot;
    x-data=&quot;{
        menu: false,
        theme: localStorage.theme,
        darkMode() {
            this.theme = 'dark'
            localStorage.theme = 'dark'
            setDarkClass()
        },
        lightMode() {
            this.theme = 'light'
            localStorage.theme = 'light'
            setDarkClass()
        },
        systemMode() {
            this.theme = undefined
            localStorage.removeItem('theme')
            setDarkClass()
        },
    }&quot;
    @click.outside=&quot;menu = false&quot;
&gt;
    &lt;button
        x-cloak
        class=&quot;block rounded p-1 hover:bg-gray-100 dark:hover:bg-gray-800&quot;
        :class=&quot;theme ? 'text-gray-700 dark:text-gray-300' : 'text-gray-400 dark:text-gray-600 hover:text-gray-500 focus:text-gray-500 dark:hover:text-gray-500 dark:focus:text-gray-500'&quot;
        @click=&quot;menu = ! menu&quot;
    &gt;
        &lt;?php if (isset($component)) { $__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.sun','data' =&gt; ['class' =&gt; 'block h-5 w-5 dark:hidden']] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.sun'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['class' =&gt; 'block h-5 w-5 dark:hidden']); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7)): ?&gt;
&lt;?php $attributes = $__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7; ?&gt;
&lt;?php unset($__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7)): ?&gt;
&lt;?php $component = $__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7; ?&gt;
&lt;?php unset($__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7); ?&gt;
&lt;?php endif; ?&gt;
        &lt;?php if (isset($component)) { $__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.moon','data' =&gt; ['class' =&gt; 'hidden h-5 w-5 dark:block']] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.moon'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['class' =&gt; 'hidden h-5 w-5 dark:block']); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745)): ?&gt;
&lt;?php $attributes = $__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745; ?&gt;
&lt;?php unset($__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745)): ?&gt;
&lt;?php $component = $__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745; ?&gt;
&lt;?php unset($__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745); ?&gt;
&lt;?php endif; ?&gt;
    &lt;/button&gt;

    &lt;div
        x-show=&quot;menu&quot;
        class=&quot;absolute right-0 z-10 flex origin-top-right flex-col rounded-md bg-white shadow-xl ring-1 ring-gray-900/5 dark:bg-gray-800&quot;
        style=&quot;display: none&quot;
        @click=&quot;menu = false&quot;
    &gt;
        &lt;button
            class=&quot;flex items-center gap-3 px-4 py-2 hover:rounded-t-md hover:bg-gray-100 dark:hover:bg-gray-700&quot;
            :class=&quot;theme === 'light' ? 'text-gray-900 dark:text-gray-100' : 'text-gray-500 dark:text-gray-400'&quot;
            @click=&quot;lightMode()&quot;
        &gt;
            &lt;?php if (isset($component)) { $__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.sun','data' =&gt; ['class' =&gt; 'h-5 w-5']] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.sun'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['class' =&gt; 'h-5 w-5']); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7)): ?&gt;
&lt;?php $attributes = $__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7; ?&gt;
&lt;?php unset($__attributesOriginalbfde029a2e31d1ec96b5017ff81a67a7); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7)): ?&gt;
&lt;?php $component = $__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7; ?&gt;
&lt;?php unset($__componentOriginalbfde029a2e31d1ec96b5017ff81a67a7); ?&gt;
&lt;?php endif; ?&gt;
            Light
        &lt;/button&gt;
        &lt;button
            class=&quot;flex items-center gap-3 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-700&quot;
            :class=&quot;theme === 'dark' ? 'text-gray-900 dark:text-gray-100' : 'text-gray-500 dark:text-gray-400'&quot;
            @click=&quot;darkMode()&quot;
        &gt;
            &lt;?php if (isset($component)) { $__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.moon','data' =&gt; ['class' =&gt; 'h-5 w-5']] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.moon'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['class' =&gt; 'h-5 w-5']); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745)): ?&gt;
&lt;?php $attributes = $__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745; ?&gt;
&lt;?php unset($__attributesOriginal6dda8ad3ea7f20f6c0a87e7037386745); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745)): ?&gt;
&lt;?php $component = $__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745; ?&gt;
&lt;?php unset($__componentOriginal6dda8ad3ea7f20f6c0a87e7037386745); ?&gt;
&lt;?php endif; ?&gt;
            Dark
        &lt;/button&gt;
        &lt;button
            class=&quot;flex items-center gap-3 px-4 py-2 hover:rounded-b-md hover:bg-gray-100 dark:hover:bg-gray-700&quot;
            :class=&quot;theme === undefined ? 'text-gray-900 dark:text-gray-100' : 'text-gray-500 dark:text-gray-400'&quot;
            @click=&quot;systemMode()&quot;
        &gt;
            &lt;?php if (isset($component)) { $__componentOriginala52e607cb40b8eec566206ff9f3ca13c = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginala52e607cb40b8eec566206ff9f3ca13c = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.computer-desktop','data' =&gt; ['class' =&gt; 'h-5 w-5']] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.computer-desktop'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['class' =&gt; 'h-5 w-5']); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginala52e607cb40b8eec566206ff9f3ca13c)): ?&gt;
&lt;?php $attributes = $__attributesOriginala52e607cb40b8eec566206ff9f3ca13c; ?&gt;
&lt;?php unset($__attributesOriginala52e607cb40b8eec566206ff9f3ca13c); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginala52e607cb40b8eec566206ff9f3ca13c)): ?&gt;
&lt;?php $component = $__componentOriginala52e607cb40b8eec566206ff9f3ca13c; ?&gt;
&lt;?php unset($__componentOriginala52e607cb40b8eec566206ff9f3ca13c); ?&gt;
&lt;?php endif; ?&gt;
            System
        &lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;?php /**PATH C:\Users\INFOBOX\Desktop\chercher_art\vendor\laravel\framework\src\Illuminate\Foundation\Providers/../resources/exceptions/renderer/components/theme-switcher.blade.php ENDPATH**/ ?&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
