<html>
<head>
    <title>storage/framework/views/9020cdf6d6b39b43d4ae69ef674c085a.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">storage/framework/views/9020cdf6d6b39b43d4ae69ef674c085a.php (<b>156</b> lines of code) (<a href="9020cdf6d6b39b43d4ae69ef674c085a.php">raw</a>):</h3>
<div id="editor">&lt;div class=&quot;hidden overflow-x-auto sm:col-span-1 lg:block&quot;&gt;
    &lt;div
        class=&quot;h-[35.5rem] scrollbar-hidden trace text-sm text-gray-400 dark:text-gray-300&quot;
    &gt;
        &lt;div class=&quot;mb-2 inline-block rounded-full bg-red-500/20 px-3 py-2 dark:bg-red-500/20 sm:col-span-1&quot;&gt;
            &lt;button
                @click=&quot;includeVendorFrames = !includeVendorFrames&quot;
                class=&quot;inline-flex items-center font-bold leading-5 text-red-500&quot;
            &gt;
                &lt;span x-show=&quot;includeVendorFrames&quot;&gt;Collapse&lt;/span&gt;
                &lt;span
                    x-cloak
                    x-show=&quot;!includeVendorFrames&quot;
                    &gt;Expand&lt;/span
                &gt;
                &lt;span class=&quot;ml-1&quot;&gt;vendor frames&lt;/span&gt;

                &lt;div class=&quot;flex flex-col ml-1 -mt-2&quot; x-cloak x-show=&quot;includeVendorFrames&quot;&gt;
                    &lt;?php if (isset($component)) { $__componentOriginal707ceba27255eae48fdb0f3529710ddf = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal707ceba27255eae48fdb0f3529710ddf = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.chevron-down','data' =&gt; []] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.chevron-down'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes([]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal707ceba27255eae48fdb0f3529710ddf)): ?&gt;
&lt;?php $attributes = $__attributesOriginal707ceba27255eae48fdb0f3529710ddf; ?&gt;
&lt;?php unset($__attributesOriginal707ceba27255eae48fdb0f3529710ddf); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal707ceba27255eae48fdb0f3529710ddf)): ?&gt;
&lt;?php $component = $__componentOriginal707ceba27255eae48fdb0f3529710ddf; ?&gt;
&lt;?php unset($__componentOriginal707ceba27255eae48fdb0f3529710ddf); ?&gt;
&lt;?php endif; ?&gt;
                    &lt;?php if (isset($component)) { $__componentOriginal14b1cc5db95fcca4a0f06445821cff39 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal14b1cc5db95fcca4a0f06445821cff39 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.chevron-up','data' =&gt; []] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.chevron-up'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes([]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal14b1cc5db95fcca4a0f06445821cff39)): ?&gt;
&lt;?php $attributes = $__attributesOriginal14b1cc5db95fcca4a0f06445821cff39; ?&gt;
&lt;?php unset($__attributesOriginal14b1cc5db95fcca4a0f06445821cff39); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal14b1cc5db95fcca4a0f06445821cff39)): ?&gt;
&lt;?php $component = $__componentOriginal14b1cc5db95fcca4a0f06445821cff39; ?&gt;
&lt;?php unset($__componentOriginal14b1cc5db95fcca4a0f06445821cff39); ?&gt;
&lt;?php endif; ?&gt;
                &lt;/div&gt;

                &lt;div class=&quot;flex flex-col ml-1 -mt-2&quot; x-cloak x-show=&quot;! includeVendorFrames&quot;&gt;
                    &lt;?php if (isset($component)) { $__componentOriginal14b1cc5db95fcca4a0f06445821cff39 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal14b1cc5db95fcca4a0f06445821cff39 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.chevron-up','data' =&gt; []] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.chevron-up'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes([]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal14b1cc5db95fcca4a0f06445821cff39)): ?&gt;
&lt;?php $attributes = $__attributesOriginal14b1cc5db95fcca4a0f06445821cff39; ?&gt;
&lt;?php unset($__attributesOriginal14b1cc5db95fcca4a0f06445821cff39); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal14b1cc5db95fcca4a0f06445821cff39)): ?&gt;
&lt;?php $component = $__componentOriginal14b1cc5db95fcca4a0f06445821cff39; ?&gt;
&lt;?php unset($__componentOriginal14b1cc5db95fcca4a0f06445821cff39); ?&gt;
&lt;?php endif; ?&gt;
                    &lt;?php if (isset($component)) { $__componentOriginal707ceba27255eae48fdb0f3529710ddf = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal707ceba27255eae48fdb0f3529710ddf = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.icons.chevron-down','data' =&gt; []] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::icons.chevron-down'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes([]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal707ceba27255eae48fdb0f3529710ddf)): ?&gt;
&lt;?php $attributes = $__attributesOriginal707ceba27255eae48fdb0f3529710ddf; ?&gt;
&lt;?php unset($__attributesOriginal707ceba27255eae48fdb0f3529710ddf); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal707ceba27255eae48fdb0f3529710ddf)): ?&gt;
&lt;?php $component = $__componentOriginal707ceba27255eae48fdb0f3529710ddf; ?&gt;
&lt;?php unset($__componentOriginal707ceba27255eae48fdb0f3529710ddf); ?&gt;
&lt;?php endif; ?&gt;
                &lt;/div&gt;
            &lt;/button&gt;
        &lt;/div&gt;

        &lt;div class=&quot;mb-12 space-y-2&quot;&gt;
            &lt;?php $__currentLoopData = $exception-&gt;frames(); $__env-&gt;addLoop($__currentLoopData); foreach($__currentLoopData as $frame): $__env-&gt;incrementLoopIndices(); $loop = $__env-&gt;getLastLoop(); ?&gt;
                &lt;?php if(! $frame-&gt;isFromVendor()): ?&gt;
                    &lt;?php
                        $vendorFramesCollapsed = $exception-&gt;frames()-&gt;take($loop-&gt;index)-&gt;reverse()-&gt;takeUntil(fn ($frame) =&gt; ! $frame-&gt;isFromVendor());
                    ?&gt;

                    &lt;div x-show=&quot;! includeVendorFrames&quot;&gt;
                        &lt;?php if($vendorFramesCollapsed-&gt;isNotEmpty()): ?&gt;
                            &lt;div class=&quot;text-gray-500&quot;&gt;
                                &lt;?php echo e($vendorFramesCollapsed-&gt;count()); ?&gt; vendor frame&lt;?php echo e($vendorFramesCollapsed-&gt;count() &gt; 1 ? 's' : ''); ?&gt; collapsed
                            &lt;/div&gt;
                        &lt;?php endif; ?&gt;
                    &lt;/div&gt;
                &lt;?php endif; ?&gt;

                &lt;button
                    class=&quot;w-full text-left dark:border-gray-900&quot;
                    x-show=&quot;&lt;?php echo e($frame-&gt;isFromVendor() ? 'includeVendorFrames' : 'true'); ?&gt;&quot;
                    @click=&quot;index = &lt;?php echo e($loop-&gt;index); ?&gt;&quot;
                &gt;
                    &lt;div
                        x-bind:class=&quot;
                            index === &lt;?php echo e($loop-&gt;index); ?&gt;

                                ? 'rounded-r-md bg-gray-100 dark:bg-gray-800 border-l dark:border dark:border-gray-700 border-l-red-500 dark:border-l-red-500'
                                : 'hover:bg-gray-100/75 dark:hover:bg-gray-800/75'
                        &quot;
                    &gt;
                        &lt;div class=&quot;scrollbar-hidden overflow-x-auto border-l-2 border-transparent p-2&quot;&gt;
                            &lt;div class=&quot;nowrap text-gray-900 dark:text-gray-300&quot;&gt;
                                &lt;span class=&quot;inline-flex items-baseline&quot;&gt;
                                    &lt;span class=&quot;text-gray-900 dark:text-gray-300&quot;&gt;&lt;?php echo e($frame-&gt;source()); ?&gt;&lt;/span&gt;
                                    &lt;span class=&quot;font-mono text-xs&quot;&gt;:&lt;?php echo e($frame-&gt;line()); ?&gt;&lt;/span&gt;
                                &lt;/span&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;text-gray-500 dark:text-gray-400&quot;&gt;
                                &lt;?php echo e($exception-&gt;frames()-&gt;get($loop-&gt;index + 1)?-&gt;callable()); ?&gt;

                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/button&gt;

                &lt;?php if(! $frame-&gt;isFromVendor() &amp;&amp; $exception-&gt;frames()-&gt;slice($loop-&gt;index + 1)-&gt;reject(fn ($frame) =&gt; $frame-&gt;isFromVendor())-&gt;isEmpty()): ?&gt;
                    &lt;?php if($exception-&gt;frames()-&gt;slice($loop-&gt;index + 1)-&gt;count()): ?&gt;
                        &lt;div x-show=&quot;! includeVendorFrames&quot;&gt;
                            &lt;div class=&quot;text-gray-500&quot;&gt;
                                &lt;?php echo e($exception-&gt;frames()-&gt;slice($loop-&gt;index + 1)-&gt;count()); ?&gt; vendor
                                frame&lt;?php echo e($exception-&gt;frames()-&gt;slice($loop-&gt;index + 1)-&gt;count() &gt; 1 ? 's' : ''); ?&gt; collapsed
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;?php endif; ?&gt;
                &lt;?php endif; ?&gt;
            &lt;?php endforeach; $__env-&gt;popLoop(); $loop = $__env-&gt;getLastLoop(); ?&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;?php /**PATH C:\xampp\htdocs\artisan\vendor\laravel\framework\src\Illuminate\Foundation\Providers/../resources/exceptions/renderer/components/trace.blade.php ENDPATH**/ ?&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
