<html>
<head>
    <title>storage/framework/views/e66a6fee40923bdcb5094745284b3a7f.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">storage/framework/views/e66a6fee40923bdcb5094745284b3a7f.php (<b>46</b> lines of code) (<a href="e66a6fee40923bdcb5094745284b3a7f.php">raw</a>):</h3>
<div id="editor">&lt;header class=&quot;mt-3 px-5 sm:mt-10&quot;&gt;
    &lt;div class=&quot;py-3 dark:border-gray-900 sm:py-5&quot;&gt;
        &lt;div class=&quot;flex items-center justify-between&quot;&gt;
            &lt;div class=&quot;flex items-center&quot;&gt;
                &lt;div class=&quot;rounded-full bg-red-500/20 p-4 dark:bg-red-500/20&quot;&gt;
                    &lt;svg
                        xmlns=&quot;http://www.w3.org/2000/svg&quot;
                        fill=&quot;none&quot;
                        viewBox=&quot;0 0 24 24&quot;
                        stroke-width=&quot;1.5&quot;
                        stroke=&quot;currentColor&quot;
                        class=&quot;h-6 w-6 fill-red-500 text-gray-50 dark:text-gray-950&quot;
                    &gt;
                        &lt;path stroke-linecap=&quot;round&quot; stroke-linejoin=&quot;round&quot; d=&quot;M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z&quot; /&gt;
                    &lt;/svg&gt;
                &lt;/div&gt;

                &lt;span class=&quot;text-dark ml-3 text-2xl font-bold dark:text-white sm:text-3xl&quot;&gt;
                    &lt;?php echo e($exception-&gt;title()); ?&gt;

                &lt;/span&gt;
            &lt;/div&gt;

            &lt;div class=&quot;flex items-center gap-3 sm:gap-6&quot;&gt;
                &lt;?php if (isset($component)) { $__componentOriginal9b6ddd2809dd60ece07dfaf1f3ef876f = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal9b6ddd2809dd60ece07dfaf1f3ef876f = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.theme-switcher','data' =&gt; []] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::theme-switcher'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes([]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal9b6ddd2809dd60ece07dfaf1f3ef876f)): ?&gt;
&lt;?php $attributes = $__attributesOriginal9b6ddd2809dd60ece07dfaf1f3ef876f; ?&gt;
&lt;?php unset($__attributesOriginal9b6ddd2809dd60ece07dfaf1f3ef876f); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal9b6ddd2809dd60ece07dfaf1f3ef876f)): ?&gt;
&lt;?php $component = $__componentOriginal9b6ddd2809dd60ece07dfaf1f3ef876f; ?&gt;
&lt;?php unset($__componentOriginal9b6ddd2809dd60ece07dfaf1f3ef876f); ?&gt;
&lt;?php endif; ?&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/header&gt;
&lt;?php /**PATH C:\Users\INFOBOX\Desktop\chercher_art\vendor\laravel\framework\src\Illuminate\Foundation\Providers/../resources/exceptions/renderer/components/navigation.blade.php ENDPATH**/ ?&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
