<html>
<head>
    <title>storage/framework/views/ea1825065bf2b2c4185fbe24b841a7e1.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">storage/framework/views/ea1825065bf2b2c4185fbe24b841a7e1.php (<b>107</b> lines of code) (<a href="ea1825065bf2b2c4185fbe24b841a7e1.php">raw</a>):</h3>
<div id="editor">&lt;?php if (isset($component)) { $__componentOriginalbbd4eeea836234825f7514ed20d2d52d = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginalbbd4eeea836234825f7514ed20d2d52d = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.layout','data' =&gt; ['exception' =&gt; $exception]] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::layout'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['exception' =&gt; \Illuminate\View\Compilers\BladeCompiler::sanitizeComponentAttribute($exception)]); ?&gt;
    &lt;div class=&quot;renderer container mx-auto lg:px-8&quot;&gt;
        &lt;?php if (isset($component)) { $__componentOriginal10cd8b81fdad4ce00a06c99f27003014 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal10cd8b81fdad4ce00a06c99f27003014 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.navigation','data' =&gt; ['exception' =&gt; $exception]] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::navigation'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['exception' =&gt; \Illuminate\View\Compilers\BladeCompiler::sanitizeComponentAttribute($exception)]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal10cd8b81fdad4ce00a06c99f27003014)): ?&gt;
&lt;?php $attributes = $__attributesOriginal10cd8b81fdad4ce00a06c99f27003014; ?&gt;
&lt;?php unset($__attributesOriginal10cd8b81fdad4ce00a06c99f27003014); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal10cd8b81fdad4ce00a06c99f27003014)): ?&gt;
&lt;?php $component = $__componentOriginal10cd8b81fdad4ce00a06c99f27003014; ?&gt;
&lt;?php unset($__componentOriginal10cd8b81fdad4ce00a06c99f27003014); ?&gt;
&lt;?php endif; ?&gt;

        &lt;main class=&quot;px-6 pb-12 pt-6&quot;&gt;
            &lt;div class=&quot;container mx-auto&quot;&gt;
                &lt;?php if (isset($component)) { $__componentOriginal1e817eb3c41fe3ea9eb0c15213c4b557 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal1e817eb3c41fe3ea9eb0c15213c4b557 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.header','data' =&gt; ['exception' =&gt; $exception]] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::header'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['exception' =&gt; \Illuminate\View\Compilers\BladeCompiler::sanitizeComponentAttribute($exception)]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal1e817eb3c41fe3ea9eb0c15213c4b557)): ?&gt;
&lt;?php $attributes = $__attributesOriginal1e817eb3c41fe3ea9eb0c15213c4b557; ?&gt;
&lt;?php unset($__attributesOriginal1e817eb3c41fe3ea9eb0c15213c4b557); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal1e817eb3c41fe3ea9eb0c15213c4b557)): ?&gt;
&lt;?php $component = $__componentOriginal1e817eb3c41fe3ea9eb0c15213c4b557; ?&gt;
&lt;?php unset($__componentOriginal1e817eb3c41fe3ea9eb0c15213c4b557); ?&gt;
&lt;?php endif; ?&gt;

                &lt;?php if (isset($component)) { $__componentOriginal1dc7d865c9b6045c4d68faf8bde572ed = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal1dc7d865c9b6045c4d68faf8bde572ed = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.trace-and-editor','data' =&gt; ['exception' =&gt; $exception]] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::trace-and-editor'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['exception' =&gt; \Illuminate\View\Compilers\BladeCompiler::sanitizeComponentAttribute($exception)]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal1dc7d865c9b6045c4d68faf8bde572ed)): ?&gt;
&lt;?php $attributes = $__attributesOriginal1dc7d865c9b6045c4d68faf8bde572ed; ?&gt;
&lt;?php unset($__attributesOriginal1dc7d865c9b6045c4d68faf8bde572ed); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal1dc7d865c9b6045c4d68faf8bde572ed)): ?&gt;
&lt;?php $component = $__componentOriginal1dc7d865c9b6045c4d68faf8bde572ed; ?&gt;
&lt;?php unset($__componentOriginal1dc7d865c9b6045c4d68faf8bde572ed); ?&gt;
&lt;?php endif; ?&gt;

                &lt;?php if (isset($component)) { $__componentOriginal523928ff754f95aea6faf87444393a04 = $component; } ?&gt;
&lt;?php if (isset($attributes)) { $__attributesOriginal523928ff754f95aea6faf87444393a04 = $attributes; } ?&gt;
&lt;?php $component = Illuminate\View\AnonymousComponent::resolve(['view' =&gt; 'laravel-exceptions-renderer::components.context','data' =&gt; ['exception' =&gt; $exception]] + (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag ? $attributes-&gt;all() : [])); ?&gt;
&lt;?php $component-&gt;withName('laravel-exceptions-renderer::context'); ?&gt;
&lt;?php if ($component-&gt;shouldRender()): ?&gt;
&lt;?php $__env-&gt;startComponent($component-&gt;resolveView(), $component-&gt;data()); ?&gt;
&lt;?php if (isset($attributes) &amp;&amp; $attributes instanceof Illuminate\View\ComponentAttributeBag): ?&gt;
&lt;?php $attributes = $attributes-&gt;except(\Illuminate\View\AnonymousComponent::ignoredParameterNames()); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php $component-&gt;withAttributes(['exception' =&gt; \Illuminate\View\Compilers\BladeCompiler::sanitizeComponentAttribute($exception)]); ?&gt;
&lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginal523928ff754f95aea6faf87444393a04)): ?&gt;
&lt;?php $attributes = $__attributesOriginal523928ff754f95aea6faf87444393a04; ?&gt;
&lt;?php unset($__attributesOriginal523928ff754f95aea6faf87444393a04); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginal523928ff754f95aea6faf87444393a04)): ?&gt;
&lt;?php $component = $__componentOriginal523928ff754f95aea6faf87444393a04; ?&gt;
&lt;?php unset($__componentOriginal523928ff754f95aea6faf87444393a04); ?&gt;
&lt;?php endif; ?&gt;
            &lt;/div&gt;
        &lt;/main&gt;
    &lt;/div&gt;
 &lt;?php echo $__env-&gt;renderComponent(); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__attributesOriginalbbd4eeea836234825f7514ed20d2d52d)): ?&gt;
&lt;?php $attributes = $__attributesOriginalbbd4eeea836234825f7514ed20d2d52d; ?&gt;
&lt;?php unset($__attributesOriginalbbd4eeea836234825f7514ed20d2d52d); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php if (isset($__componentOriginalbbd4eeea836234825f7514ed20d2d52d)): ?&gt;
&lt;?php $component = $__componentOriginalbbd4eeea836234825f7514ed20d2d52d; ?&gt;
&lt;?php unset($__componentOriginalbbd4eeea836234825f7514ed20d2d52d); ?&gt;
&lt;?php endif; ?&gt;
&lt;?php /**PATH C:\xampp\htdocs\chercher_art\vendor\laravel\framework\src\Illuminate\Foundation\Providers/../resources/exceptions/renderer/show.blade.php ENDPATH**/ ?&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
