<html>
<head>
    <title>storage/framework/views/f4e4640f2959be64e9037ab0087a89a1.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">storage/framework/views/f4e4640f2959be64e9037ab0087a89a1.php (<b>31</b> lines of code) (<a href="f4e4640f2959be64e9037ab0087a89a1.php">raw</a>):</h3>
<div id="editor">&lt;?php $__currentLoopData = $exception-&gt;frames(); $__env-&gt;addLoop($__currentLoopData); foreach($__currentLoopData as $frame): $__env-&gt;incrementLoopIndices(); $loop = $__env-&gt;getLastLoop(); ?&gt;
    &lt;div
        class=&quot;sm:col-span-2&quot;
        x-show=&quot;index === &lt;?php echo e($loop-&gt;index); ?&gt;&quot;
    &gt;
        &lt;div class=&quot;mb-3&quot;&gt;
            &lt;div class=&quot;text-md text-gray-500 dark:text-gray-400&quot;&gt;
                &lt;div class=&quot;mb-2&quot;&gt;

                    &lt;?php if(config('app.editor')): ?&gt;
                        &lt;a href=&quot;&lt;?php echo e($frame-&gt;editorHref()); ?&gt;&quot; class=&quot;text-blue-500 hover:underline&quot;&gt;
                            &lt;span class=&quot;wrap text-gray-900 dark:text-gray-300&quot;&gt;&lt;?php echo e($frame-&gt;file()); ?&gt;&lt;/span&gt;
                        &lt;/a&gt;
                    &lt;?php else: ?&gt;
                        &lt;span class=&quot;wrap text-gray-900 dark:text-gray-300&quot;&gt;&lt;?php echo e($frame-&gt;file()); ?&gt;&lt;/span&gt;
                    &lt;?php endif; ?&gt;

                    &lt;span class=&quot;font-mono text-xs&quot;&gt;:&lt;?php echo e($frame-&gt;line()); ?&gt;&lt;/span&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;pt-4 text-sm text-gray-500 dark:text-gray-400&quot;&gt;
            &lt;pre class=&quot;h-[32.5rem] rounded-md dark:bg-gray-800 border dark:border-gray-700&quot;&gt;&lt;template x-if=&quot;true&quot;&gt;&lt;code
                    style=&quot;display: none;&quot;
                    id=&quot;frame-&lt;?php echo e($loop-&gt;index); ?&gt;&quot;
                    class=&quot;language-php highlightable-code &lt;?php if($loop-&gt;index === $exception-&gt;defaultFrame()): ?&gt; default-highlightable-code &lt;?php endif; ?&gt; scrollbar-hidden overflow-y-hidden&quot;
                    data-line-number=&quot;&lt;?php echo e($frame-&gt;line()); ?&gt;&quot;
                    data-ln-start-from=&quot;&lt;?php echo e(max($frame-&gt;line() - 5, 1)); ?&gt;&quot;
                &gt;&lt;?php echo e($frame-&gt;snippet()); ?&gt;&lt;/code&gt;&lt;/template&gt;&lt;/pre&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;?php endforeach; $__env-&gt;popLoop(); $loop = $__env-&gt;getLastLoop(); ?&gt;
&lt;?php /**PATH C:\xampp\htdocs\chercher_art\vendor\laravel\framework\src\Illuminate\Foundation\Providers/../resources/exceptions/renderer/components/editor.blade.php ENDPATH**/ ?&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
