<html>
<head>
    <title>resources/views/layout/question.blade.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">resources/views/layout/question.blade.php (<b>138</b> lines of code) (<a href="question.blade.php">raw</a>):</h3>
<div id="editor">&lt;div class=&quot;faqs&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;section-header text-center&quot;&gt;
            &lt;p&gt;Foire Aux Questions&lt;/p&gt;
            &lt;h2&gt;Vous vous demandez peut-&ecirc;tre&lt;/h2&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-6&quot;&gt;
                &lt;div id=&quot;accordion-1&quot;&gt;
                    &lt;div class=&quot;card wow fadeInLeft&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseOne&quot;&gt;
                                Comment trouver un artisan dans ma ville ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseOne&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-1&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Utilisez la barre de recherche sur Khdamli et filtrez par ville et type de service pour trouver un artisan pr&egrave;s de chez vous.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInLeft&quot; data-wow-delay=&quot;0.2s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseTwo&quot;&gt;
                                Est-ce que les artisans sont v&eacute;rifi&eacute;s ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseTwo&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-1&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Oui, chaque artisan est v&eacute;rifi&eacute; par notre &eacute;quipe avant d&rsquo;&ecirc;tre publi&eacute; sur la plateforme. Nous contr&ocirc;lons leurs coordonn&eacute;es et comp&eacute;tences.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInLeft&quot; data-wow-delay=&quot;0.3s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseThree&quot;&gt;
                                Puis-je contacter un artisan directement ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseThree&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-1&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Oui, vous pouvez contacter l&rsquo;artisan via t&eacute;l&eacute;phone, WhatsApp ou via le formulaire int&eacute;gr&eacute; dans son profil.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInLeft&quot; data-wow-delay=&quot;0.4s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseFour&quot;&gt;
                                Quels types de services sont disponibles ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseFour&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-1&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Vous trouverez des plombiers, &eacute;lectriciens, coiffeurs, peintres, ma&ccedil;ons, soudeurs, m&eacute;caniciens et bien d&rsquo;autres artisans.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInLeft&quot; data-wow-delay=&quot;0.5s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseFive&quot;&gt;
                                Comment laisser un avis sur un artisan ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseFive&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-1&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Apr&egrave;s avoir collabor&eacute; avec un artisan, vous pouvez laisser une note et un avis depuis votre tableau de bord utilisateur.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class=&quot;col-md-6&quot;&gt;
                &lt;div id=&quot;accordion-2&quot;&gt;
                    &lt;div class=&quot;card wow fadeInRight&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseSix&quot;&gt;
                                Khdamli est-il disponible partout dan le pays ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseSix&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-2&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Oui, notre plateforme couvre tout le pays. Le nombre d&rsquo;artisans varie selon les r&eacute;gions.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInRight&quot; data-wow-delay=&quot;0.2s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseSeven&quot;&gt;
                                Combien co&ucirc;te l'utilisation de Khdamli ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseSeven&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-2&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Khdamli est totalement gratuit pour les utilisateurs. Vous ne payez que l&rsquo;artisan pour le service rendu.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInRight&quot; data-wow-delay=&quot;0.3s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseEight&quot;&gt;
                                Puis-je r&eacute;server un artisan &agrave; l'avance ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseEight&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-2&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Oui, certains artisans proposent un calendrier de disponibilit&eacute; pour permettre les r&eacute;servations &agrave; l&rsquo;avance.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInRight&quot; data-wow-delay=&quot;0.4s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseNine&quot;&gt;
                                Puis-je signaler un artisan ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseNine&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-2&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Bien s&ucirc;r. Si vous avez eu une mauvaise exp&eacute;rience, vous pouvez signaler un artisan directement depuis son profil.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;card wow fadeInRight&quot; data-wow-delay=&quot;0.5s&quot;&gt;
                        &lt;div class=&quot;card-header&quot;&gt;
                            &lt;a class=&quot;card-link collapsed&quot; data-toggle=&quot;collapse&quot; href=&quot;#collapseTen&quot;&gt;
                                Comment devenir artisan sur Khdamli ?
                            &lt;/a&gt;
                        &lt;/div&gt;
                        &lt;div id=&quot;collapseTen&quot; class=&quot;collapse&quot; data-parent=&quot;#accordion-2&quot;&gt;
                            &lt;div class=&quot;card-body&quot;&gt;
                                Cliquez sur &quot;S'inscrire comme artisan&quot;, remplissez vos informations, ajoutez votre photo et vos services. Notre &eacute;quipe v&eacute;rifiera votre profil avant activation.
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
