<html>
<head>
    <title>Owl.prototype.initialize = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">Owl.prototype.initialize = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/owlcarousel/owl.carousel.js [449:496]</i></p>
<ul>
    <li><b>37</b> lines of code</li>
    <li><b>7</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
	Owl.prototype.initialize = function() {
		this.enter('initializing');
		this.trigger('initialize');

		this.$element.toggleClass(this.settings.rtlClass, this.settings.rtl);

		if (this.settings.autoWidth &amp;&amp; !this.is('pre-loading')) {
			var imgs, nestedSelector, width;
			imgs = this.$element.find('img');
			nestedSelector = this.settings.nestedItemSelector ? '.' + this.settings.nestedItemSelector : undefined;
			width = this.$element.children(nestedSelector).width();

			if (imgs.length &amp;&amp; width &lt;= 0) {
				this.preloadAutoWidthImages(imgs);
			}
		}

		this.$element.addClass(this.options.loadingClass);

		// create stage
		this.$stage = $('&lt;' + this.settings.stageElement + ' class=&quot;' + this.settings.stageClass + '&quot;/&gt;')
			.wrap('&lt;div class=&quot;' + this.settings.stageOuterClass + '&quot;/&gt;');

		// append stage
		this.$element.append(this.$stage.parent());

		// append content
		this.replace(this.$element.children().not(this.$stage.parent()));

		// check visibility
		if (this.$element.is(':visible')) {
			// update view
			this.refresh();
		} else {
			// invalidate width
			this.invalidate('width');
		}

		this.$element
			.removeClass(this.options.loadingClass)
			.addClass(this.options.loadedClass);

		// register event handlers
		this.registerEventHandlers();

		this.leave('initializing');
		this.trigger('initialized');
	};

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
