<html>
<head>
    <title>resources/views/auth/login_register.blade.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">resources/views/auth/login_register.blade.php (<b>90</b> lines of code) (<a href="login_register.blade.php">raw</a>):</h3>
<div id="editor">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;meta http-equiv=&quot;X-UA-Compatible&quot; content=&quot;IE=edge&quot;&gt;
  &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1.0&quot;&gt;
  &lt;title&gt;Login &amp; Registration Form &lt;/title&gt;
  &lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;{{ asset('css/login.css') }}&quot;&gt;
  &lt;script src=&quot;https://cdn.jsdelivr.net/npm/sweetalert2@11&quot;&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;style&gt;
  body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('{{ asset('img/slide1.jpg') }}') no-repeat center center fixed;
  background-size: cover;
}
&lt;/style&gt;
&lt;body&gt;
  &lt;div class=&quot;wrapper&quot;&gt;
    &lt;div class=&quot;form-wrapper sign-in&quot;&gt;
    &lt;form id=&quot;login-form&quot; action=&quot;{{ route('login.custom') }}&quot; method=&quot;POST&quot;&gt;


      @csrf
        &lt;h2&gt;Sign-in&lt;/h2&gt;
        &lt;div class=&quot;input-group&quot;&gt;
        &lt;input type=&quot;email&quot; name=&quot;email&quot; required&gt;
        &lt;label&gt;Email&lt;/label&gt;

        &lt;/div&gt;
        &lt;div class=&quot;input-group&quot;&gt;
          &lt;input type=&quot;password&quot; name=&quot;password&quot; required&gt;
          &lt;label for=&quot;&quot;&gt;Password&lt;/label&gt;
        &lt;/div&gt;
        &lt;div class=&quot;remember&quot;&gt;
          &lt;label&gt;&lt;input type=&quot;checkbox&quot;&gt; Remember me&lt;/label&gt;
        &lt;/div&gt;
        &lt;button type=&quot;submit&quot;&gt;Login&lt;/button&gt;
        &lt;div class=&quot;signUp-link&quot;&gt;
          &lt;p&gt;Don't have an account? &lt;a href=&quot;#&quot; class=&quot;signUpBtn-link&quot;&gt;Sign Up&lt;/a&gt;&lt;/p&gt;
        &lt;/div&gt;
      &lt;/form&gt;
    &lt;/div&gt;
    &lt;div class=&quot;form-wrapper sign-up&quot;&gt;
    &lt;form id=&quot;register-form&quot; action=&quot;{{ route('register.custom') }}&quot; method=&quot;POST&quot;&gt;
    @csrf
    &lt;h2&gt;Sign Up&lt;/h2&gt;

    &lt;div class=&quot;input-group&quot;&gt;
        &lt;input type=&quot;text&quot; name=&quot;username&quot; required&gt;
        &lt;label for=&quot;&quot;&gt;Username&lt;/label&gt;
    &lt;/div&gt;

    &lt;!-- Nouveau champ : type_user --&gt;
    &lt;div class=&quot;input-group&quot;&gt;
        &lt;select name=&quot;type_user&quot; required&gt;
        &lt;option value=&quot;&quot; disabled selected&gt;Choose user type&lt;/option&gt;
        &lt;option value=&quot;client&quot;&gt;Client&lt;/option&gt;
        &lt;option value=&quot;artisan&quot;&gt;Artisan&lt;/option&gt;
        &lt;option value=&quot;societe_artisan&quot;&gt;Soci&eacute;t&eacute; d'artisan&lt;/option&gt;

        &lt;/select&gt;
        &lt;!-- &lt;label for=&quot;&quot;&gt;User Type&lt;/label&gt; --&gt;
    &lt;/div&gt;

    &lt;div class=&quot;input-group&quot;&gt;
        &lt;input type=&quot;email&quot; name=&quot;email&quot; required&gt;
        &lt;label for=&quot;&quot;&gt;Email&lt;/label&gt;
    &lt;/div&gt;

    &lt;div class=&quot;input-group&quot;&gt;
        &lt;input type=&quot;password&quot; name=&quot;password&quot; required&gt;
        &lt;label for=&quot;&quot;&gt;Password&lt;/label&gt;
    &lt;/div&gt;

    &lt;div class=&quot;remember&quot;&gt;
        &lt;label&gt;&lt;input type=&quot;checkbox&quot; required&gt; I agree to the terms &amp; conditions&lt;/label&gt;
    &lt;/div&gt;

    &lt;button type=&quot;submit&quot;&gt;Sign Up&lt;/button&gt;

    &lt;div class=&quot;signUp-link&quot;&gt;
        &lt;p&gt;Already have an account? &lt;a href=&quot;&quot; class=&quot;signInBtn-link&quot;&gt;Sign In&lt;/a&gt;&lt;/p&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;

  &lt;/div&gt;
  &lt;script src=&quot;{{asset('js/script.js')}}&quot;&gt;&lt;/script&gt;
  @if(session('login_error'))
&lt;script&gt;
    Swal.fire({
        icon: 'error',
        title: 'Erreur de connexion',
        text: '{{ session('login_error') }}',
        confirmButtonColor: '#d33'
    });
&lt;/script&gt;
@endif

&lt;/body&gt;
&lt;/html&gt;</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
