<html>
<head>
    <title>resources/views/front/about.blade.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">resources/views/front/about.blade.php (<b>122</b> lines of code) (<a href="about.blade.php">raw</a>):</h3>
<div id="editor">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt;
        &lt;title&gt;A propos de nous&lt;/title&gt;
        &lt;meta content=&quot;width=device-width, initial-scale=1.0&quot; name=&quot;viewport&quot;&gt;
        &lt;meta content=&quot;Construction Company Website Template&quot; name=&quot;keywords&quot;&gt;
        &lt;meta content=&quot;Construction Company Website Template&quot; name=&quot;description&quot;&gt;

        &lt;!-- Favicon --&gt;
        &lt;link href=&quot;img/favicon.ico&quot; rel=&quot;icon&quot;&gt;

        &lt;!-- Google Font --&gt;
        &lt;link href=&quot;https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap&quot; rel=&quot;stylesheet&quot;&gt;

        &lt;!-- CSS Libraries --&gt;
        &lt;link href=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/flaticon/font/flaticon.css&quot; rel=&quot;stylesheet&quot;&gt; 
        &lt;link href=&quot;lib/animate/animate.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/owlcarousel/assets/owl.carousel.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/lightbox/css/lightbox.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/slick/slick.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;lib/slick/slick-theme.css&quot; rel=&quot;stylesheet&quot;&gt;

        &lt;!-- Template Stylesheet --&gt;
        &lt;link href=&quot;css/style.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;div class=&quot;wrapper&quot;&gt;
            &lt;!-- Top Bar Start --&gt;
            
            @include('layout.topbar')
            
            &lt;!-- Top Bar End --&gt;
            
            @include('layout.nav_bar')
            
            &lt;!-- Nav Bar Start --&gt;
            
            &lt;!-- Nav Bar End --&gt;
            
            
            &lt;!-- Page Header Start --&gt;
            &lt;div class=&quot;page-header&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div class=&quot;row&quot;&gt;
                        &lt;div class=&quot;col-12&quot;&gt;
                            &lt;h2&gt;A propos de nous&lt;/h2&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-12&quot;&gt;
                            &lt;a href=&quot;&quot;&gt;Accueil&lt;/a&gt;
                            &lt;a href=&quot;&quot;&gt;A propos de nous&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Page Header End --&gt;


            &lt;!-- About Start --&gt;
            &lt;div class=&quot;about wow fadeInUp&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div class=&quot;row align-items-center&quot;&gt;
                        &lt;div class=&quot;col-lg-5 col-md-6&quot;&gt;
                            &lt;div class=&quot;about-img&quot;&gt;
                                &lt;img src=&quot;img/about.jpg&quot; alt=&quot;Image&quot; style=&quot;height: 500px;&quot;&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-lg-7 col-md-6&quot;&gt;
                            &lt;div class=&quot;section-header text-left&quot;&gt;
                                &lt;p&gt;Bienvenue chez MonArtisqn&lt;/p&gt;
                                &lt;h2&gt;Trouver un artisan facilement &lt;/h2&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;about-text&quot;&gt;
                                &lt;p&gt;
                                    MonArtisqn est une plateforme 100% alg&eacute;rienne con&ccedil;ue pour mettre en relation les particuliers et les artisans qualifi&eacute;s &agrave; travers toute l'Alg&eacute;rie. Que vous ayez besoin d&rsquo;un plombier, d&rsquo;un &eacute;lectricien, d&rsquo;un menuisier ou tout autre professionnel du b&acirc;timent ou des services, notre objectif est de vous aider &agrave; trouver rapidement et facilement l&rsquo;artisan qu&rsquo;il vous faut, pr&egrave;s de chez vous.
                                &lt;/p&gt;
                                &lt;p&gt;
                                    Nous croyons en la valeur du travail artisanal local, en la confiance et en la qualit&eacute; du service rendu. Chaque artisan inscrit est soigneusement s&eacute;lectionn&eacute; pour vous garantir une exp&eacute;rience fiable, transparente et professionnelle.
                                &lt;/p&gt;
                                &lt;a class=&quot;btn&quot; href=&quot;art_ind.php&quot;&gt;artisan ind&eacute;pendant&lt;/a&gt;
                                &lt;a class=&quot;btn&quot; href=&quot;art_soc.php&quot;&gt;soci&eacute;t&eacute; des artisans&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- About End --&gt;
            
            
            &lt;!-- Fact Start --&gt;
            &lt;div class=&quot;fact&quot;&gt;
                &lt;div class=&quot;container-fluid&quot;&gt;
                    &lt;div class=&quot;row counters&quot;&gt;
                        &lt;div class=&quot;col-md-6 fact-left wow slideInLeft&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-worker&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;109&lt;/h2&gt;
                                        &lt;p&gt;Expert Workers&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-building&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;485&lt;/h2&gt;
                                        &lt;p&gt;Happy Clients&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-md-6 fact-right wow slideInRight&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-address&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;789&lt;/h2&gt;
                                        &lt;p&gt;Completed Projects&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-crane&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;890&lt;/h2&gt;
                                        &lt;p&gt;Running Projects&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Fact End --&gt;
            
            
            &lt;!-- FAQs Start --&gt;
            @include('layout.question')
            &lt;!-- FAQs End --&gt;


            &lt;!-- Footer Start --&gt;
            
            @include('layout.footer')
            
            &lt;!-- Footer End --&gt;

            &lt;a href=&quot;#&quot; class=&quot;back-to-top&quot;&gt;&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;

        &lt;!-- JavaScript Libraries --&gt;
        &lt;script src=&quot;https://code.jquery.com/jquery-3.4.1.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/easing/easing.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/wow/wow.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/owlcarousel/owl.carousel.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/isotope/isotope.pkgd.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/lightbox/js/lightbox.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/waypoints/waypoints.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/counterup/counterup.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;lib/slick/slick.min.js&quot;&gt;&lt;/script&gt;

        &lt;!-- Template Javascript --&gt;
        &lt;script src=&quot;js/main.js&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
