<html>
<head>
    <title>resources/views/index.blade.php</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">resources/views/index.blade.php (<b>380</b> lines of code) (<a href="index.blade.php">raw</a>):</h3>
<div id="editor">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
    &lt;head&gt;
        &lt;meta charset=&quot;utf-8&quot;&gt;
        &lt;title&gt;Khdamli&lt;/title&gt;
        &lt;meta content=&quot;width=device-width, initial-scale=1.0&quot; name=&quot;viewport&quot;&gt;
        &lt;meta content=&quot;Construction Company Website Template&quot; name=&quot;keywords&quot;&gt;
        &lt;meta content=&quot;Construction Company Website Template&quot; name=&quot;description&quot;&gt;

        &lt;!-- Favicon --&gt;
        &lt;link href=&quot;{{ asset('img/favicon.ico') }}&quot; rel=&quot;icon&quot;&gt;

        &lt;!-- Google Font --&gt;
        &lt;link href=&quot;https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap&quot; rel=&quot;stylesheet&quot;&gt;

        &lt;!-- CSS Libraries --&gt;
        &lt;link href=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css&quot;&gt;

        &lt;link href=&quot;{{ asset('lib/flaticon/font/flaticon.css') }}&quot; rel=&quot;stylesheet&quot;&gt; 
        &lt;link href=&quot;{{ asset('lib/animate/animate.min.css') }}&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;{{ asset('lib/lightbox/css/lightbox.min.css') }}&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;{{ asset('lib/slick/slick.css') }}&quot; rel=&quot;stylesheet&quot;&gt;
        &lt;link href=&quot;{{ asset('lib/slick/slick-theme.css') }}&quot; rel=&quot;stylesheet&quot;&gt;

        &lt;!-- Template Stylesheet --&gt;
        &lt;link href=&quot;{{ asset('css/style.css') }}&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;/head&gt;

    &lt;body&gt;
        &lt;div class=&quot;wrapper&quot;&gt;
            &lt;!-- Top Bar Start --&gt;
            @include('layout.topbar')
            &lt;!-- Top Bar End --&gt;
            
            &lt;!-- Nav Bar Start --&gt;
            
            @include('layout.nav_bar')
            
            &lt;!-- Nav Bar End --&gt;


            &lt;!-- Carousel Start --&gt;
            &lt;div id=&quot;carousel&quot; class=&quot;carousel slide&quot; data-ride=&quot;carousel&quot;&gt;
                &lt;ol class=&quot;carousel-indicators&quot;&gt;
                    &lt;li data-target=&quot;#carousel&quot; data-slide-to=&quot;0&quot; class=&quot;active&quot;&gt;&lt;/li&gt;
                    &lt;li data-target=&quot;#carousel&quot; data-slide-to=&quot;1&quot;&gt;&lt;/li&gt;
                    &lt;li data-target=&quot;#carousel&quot; data-slide-to=&quot;2&quot;&gt;&lt;/li&gt;
                &lt;/ol&gt;
                &lt;div class=&quot;carousel-inner&quot;&gt;
                    &lt;div class=&quot;carousel-item active&quot;&gt;
                        &lt;img src=&quot;img/slide1.jpg&quot; alt=&quot;Carousel Image&quot;&gt;
                        &lt;div class=&quot;carousel-caption&quot;&gt;
                            &lt;p class=&quot;animated fadeInRight&quot;&gt;Travail soign&eacute;&lt;/p&gt;
                            &lt;h1 class=&quot;animated fadeInLeft&quot;&gt;tu cherches un plombier !&lt;/h1&gt;
                            
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;carousel-item&quot;&gt;
                        &lt;img src=&quot;img/slide2.jpg&quot; alt=&quot;Carousel Image&quot;&gt;
                        &lt;div class=&quot;carousel-caption&quot;&gt;
                            &lt;p class=&quot;animated fadeInRight&quot;&gt;Savoir-faire reconnu&lt;/p&gt;
                            &lt;h1 class=&quot;animated fadeInLeft&quot;&gt;ou bien un menuiserie !&lt;/h1&gt;
                            
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;carousel-item&quot;&gt;
                        &lt;img src=&quot;img/slide3.jpg&quot; alt=&quot;Carousel Image&quot;&gt;
                        &lt;div class=&quot;carousel-caption&quot;&gt;
                            &lt;p class=&quot;animated fadeInRight&quot;&gt;Service fiable&lt;/p&gt;
                            &lt;h1 class=&quot;animated fadeInLeft&quot;&gt;ou un &eacute;lectricien !&lt;/h1&gt;
                            
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;carousel-item&quot;&gt;
                        &lt;img src=&quot;img/slide4.jpg&quot; alt=&quot;Carousel Image&quot;&gt;
                        &lt;div class=&quot;carousel-caption&quot;&gt;
                            &lt;p class=&quot;animated fadeInRight&quot;&gt;Respect des d&eacute;lais&lt;/p&gt;
                            &lt;h1 class=&quot;animated fadeInLeft&quot;&gt;un peintre !&lt;/h1&gt;
                           
                        &lt;/div&gt;
                    &lt;/div&gt;

                    &lt;div class=&quot;carousel-item&quot;&gt;
                        &lt;img src=&quot;img/slide5.jpg&quot; alt=&quot;Carousel Image&quot;&gt;
                        &lt;div class=&quot;carousel-caption&quot;&gt;
                            &lt;p class=&quot;animated fadeInRight&quot;&gt;Qualit&eacute; garantie&lt;/p&gt;
                            &lt;h1 class=&quot;animated fadeInLeft&quot;&gt;ou bien un ma&ccedil;on !&lt;/h1&gt;
                            
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;

                &lt;a class=&quot;carousel-control-prev&quot; href=&quot;#carousel&quot; role=&quot;button&quot; data-slide=&quot;prev&quot;&gt;
                    &lt;span class=&quot;carousel-control-prev-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                    &lt;span class=&quot;sr-only&quot;&gt;Pr&eacute;c&eacute;dent&lt;/span&gt;
                &lt;/a&gt;
                &lt;a class=&quot;carousel-control-next&quot; href=&quot;#carousel&quot; role=&quot;button&quot; data-slide=&quot;next&quot;&gt;
                    &lt;span class=&quot;carousel-control-next-icon&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                    &lt;span class=&quot;sr-only&quot;&gt;Suivant&lt;/span&gt;
                &lt;/a&gt;
            &lt;/div&gt;
            &lt;!-- Carousel End --&gt;


            &lt;!-- Feature Start--&gt;
            &lt;div class=&quot;feature wow fadeInUp&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                &lt;div class=&quot;container-fluid&quot;&gt;
                    &lt;div class=&quot;row align-items-center&quot;&gt;
                        &lt;div class=&quot;col-lg-4 col-md-12&quot;&gt;
                            &lt;div class=&quot;feature-item&quot;&gt;
                                &lt;div class=&quot;feature-icon&quot;&gt;
                                    &lt;i class=&quot;flaticon-worker&quot;&gt;&lt;/i&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;feature-text&quot;&gt;
                                    &lt;h3&gt;Travailleur expert&lt;/h3&gt;
                                    &lt;p&gt;Nous mettons notre expertise au service de vos projets pour garantir un travail de qualit&eacute;, rapide et fiable&lt;/p&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-lg-4 col-md-12&quot;&gt;
                            &lt;div class=&quot;feature-item&quot;&gt;
                                &lt;div class=&quot;feature-icon&quot;&gt;
                                    &lt;i class=&quot;flaticon-building&quot;&gt;&lt;/i&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;feature-text&quot;&gt;
                                    &lt;h3&gt;Travail de qualit&eacute;&lt;/h3&gt;
                                    &lt;p&gt;Chaque mission est r&eacute;alis&eacute;e avec soin, rigueur et souci du d&eacute;tail pour un r&eacute;sultat &agrave; la hauteur de vos attentes&lt;/p&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-lg-4 col-md-12&quot;&gt;
                            &lt;div class=&quot;feature-item&quot;&gt;
                                &lt;div class=&quot;feature-icon&quot;&gt;
                                    &lt;i class=&quot;flaticon-call&quot;&gt;&lt;/i&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;feature-text&quot;&gt;
                                    &lt;h3&gt;7/7 Support&lt;/h3&gt;
                                    &lt;p&gt;Notre &eacute;quipe est disponible tous les jours pour r&eacute;pondre &agrave; vos probl&egrave;mes et vous accompagner sans interruption&lt;/p&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Feature End--&gt;


            &lt;!-- About Start --&gt;
            &lt;div class=&quot;about wow fadeInUp&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div class=&quot;row align-items-center&quot;&gt;
                        &lt;div class=&quot;col-lg-5 col-md-6&quot;&gt;
                            &lt;div class=&quot;about-img&quot;&gt;
                                &lt;img src=&quot;img/about.jpg&quot; alt=&quot;Image&quot; style=&quot;height: 500px;&quot;&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-lg-7 col-md-6&quot;&gt;
                            &lt;div class=&quot;section-header text-left&quot;&gt;
                                &lt;p&gt;Bienvenue chez Khdamlii&lt;/p&gt;
                                &lt;h2&gt;Trouver un artisan facilement &lt;/h2&gt;
                            &lt;/div&gt;
                            &lt;div class=&quot;about-text&quot;&gt;
                                &lt;p&gt;
                                    Khdamlii est une plateforme 100% alg&eacute;rienne con&ccedil;ue pour mettre en relation les particuliers et les artisans qualifi&eacute;s &agrave; travers toute l'Alg&eacute;rie. Que vous ayez besoin d&rsquo;un plombier, d&rsquo;un &eacute;lectricien, d&rsquo;un menuisier ou tout autre professionnel du b&acirc;timent ou des services, notre objectif est de vous aider &agrave; trouver rapidement et facilement l&rsquo;artisan qu&rsquo;il vous faut, pr&egrave;s de chez vous.
                                &lt;/p&gt;
                                &lt;p&gt;
                                    Nous croyons en la valeur du travail artisanal local, en la confiance et en la qualit&eacute; du service rendu. Chaque artisan inscrit est soigneusement s&eacute;lectionn&eacute; pour vous garantir une exp&eacute;rience fiable, transparente et professionnelle.
                                &lt;/p&gt;
                                &lt;a class=&quot;btn&quot; href=&quot;{{route('artisan')}}&quot;&gt;artisan ind&eacute;pendant&lt;/a&gt;
                                &lt;a class=&quot;btn&quot; href=&quot;{{ route('company') }}&quot;&gt;soci&eacute;t&eacute; des artisans&lt;/a&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- About End --&gt;


            &lt;!-- Fact Start --&gt;
            &lt;div class=&quot;fact&quot;&gt;
                &lt;div class=&quot;container-fluid&quot;&gt;
                    &lt;div class=&quot;row counters&quot;&gt;
                        &lt;div class=&quot;col-md-6 fact-left wow slideInLeft&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-worker&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;107&lt;/h2&gt;
                                        &lt;p&gt;artisan ind&eacute;pendant&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-crane&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;42&lt;/h2&gt;
                                        &lt;p&gt;Soci&eacute;t&eacute; d'artisan&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;col-md-6 fact-right wow slideInRight&quot;&gt;
                            &lt;div class=&quot;row&quot;&gt;
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-address&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;789&lt;/h2&gt;
                                        &lt;p&gt;Completed Projects&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                
                                &lt;div class=&quot;col-6&quot;&gt;
                                    &lt;div class=&quot;fact-icon&quot;&gt;
                                        &lt;i class=&quot;flaticon-building&quot;&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;fact-text&quot;&gt;
                                        &lt;h2 data-toggle=&quot;counter-up&quot;&gt;685&lt;/h2&gt;
                                        &lt;p&gt;Clients satisfaits&lt;/p&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;

                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Fact End --&gt;


            &lt;!-- Service Start --&gt;
            &lt;div class=&quot;service&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;div class=&quot;section-header text-center&quot;&gt;
                        &lt;p&gt;Nos services&lt;/p&gt;
                        &lt;h2&gt;Nous fournissons des services&lt;/h2&gt;
                    &lt;/div&gt;
                    &lt;div class=&quot;row&quot;&gt;
            @foreach($professions as $profession)
                &lt;div class=&quot;col-lg-4 col-md-6 wow fadeInUp&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                    &lt;div class=&quot;service-item&quot;&gt;
                        &lt;div class=&quot;service-img&quot;&gt;
                            &lt;img src=&quot;{{ asset('storage/' . $profession-&gt;photo) }}&quot; alt=&quot;{{ $profession-&gt;name }}&quot;&gt;
                            &lt;div class=&quot;service-overlay&quot;&gt;
                                &lt;p&gt;{{ $profession-&gt;description }}&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;service-text&quot;&gt;
                            &lt;h3&gt;{{ $profession-&gt;name }}&lt;/h3&gt;
                            &lt;a class=&quot;btn&quot; href=&quot;{{ asset('img/' . $profession-&gt;photo) }}&quot; data-lightbox=&quot;service&quot;&gt;+&lt;/a&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            @endforeach
        &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Service End --&gt;


            &lt;!-- Video Start --&gt;
            &lt;div class=&quot;video wow fadeIn&quot; data-wow-delay=&quot;0.1s&quot;&gt;
                &lt;div class=&quot;container&quot;&gt;
                    &lt;button type=&quot;button&quot; class=&quot;btn-play&quot; data-toggle=&quot;modal&quot; data-src=&quot;https://youtu.be/x3QbwJzrQaU?si=7uulP-3aVgpvi957&quot; data-target=&quot;#videoModal&quot;&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            
            &lt;div class=&quot;modal fade&quot; id=&quot;videoModal&quot; tabindex=&quot;-1&quot; role=&quot;dialog&quot; aria-labelledby=&quot;exampleModalLabel&quot; aria-hidden=&quot;true&quot;&gt;
                &lt;div class=&quot;modal-dialog&quot; role=&quot;document&quot;&gt;
                    &lt;div class=&quot;modal-content&quot;&gt;
                        &lt;div class=&quot;modal-body&quot;&gt;
                            &lt;button type=&quot;button&quot; class=&quot;close&quot; data-dismiss=&quot;modal&quot; aria-label=&quot;Close&quot;&gt;
                                &lt;span aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
                            &lt;/button&gt;        
                            &lt;!-- 16:9 aspect ratio --&gt;
                            &lt;div class=&quot;embed-responsive embed-responsive-16by9&quot;&gt;
                                &lt;iframe class=&quot;embed-responsive-item&quot; src=&quot;&quot; id=&quot;video&quot;  allowscriptaccess=&quot;always&quot; allow=&quot;autoplay&quot;&gt;&lt;/iframe&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;!-- Video End --&gt;

            &lt;!-- FAQs Start --&gt;
            @include('layout.question')
            &lt;!-- FAQs End --&gt;

            &lt;!-- Testimonial Start --&gt;
            &lt;div class=&quot;testimonial wow fadeIn&quot; data-wow-delay=&quot;0.1s&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-12&quot;&gt;
            &lt;div class=&quot;testimonial-slider-nav&quot;&gt;
    &lt;div class=&quot;slider-nav&quot;&gt;&lt;img src=&quot;{{ asset('img/1.jpeg') }}&quot; alt=&quot;Testimonial&quot; class=&quot;rounded-circle&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;slider-nav&quot;&gt;&lt;img src=&quot;{{ asset('img/4.jpeg') }}&quot; alt=&quot;Testimonial&quot; class=&quot;rounded-circle&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;slider-nav&quot;&gt;&lt;img src=&quot;{{ asset('img/2.jpeg') }}&quot; alt=&quot;Testimonial&quot; class=&quot;rounded-circle&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;slider-nav&quot;&gt;&lt;img src=&quot;{{ asset('img/6.jpeg') }}&quot; alt=&quot;Testimonial&quot; class=&quot;rounded-circle&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;slider-nav&quot;&gt;&lt;img src=&quot;{{ asset('img/3.jpeg') }}&quot; alt=&quot;Testimonial&quot; class=&quot;rounded-circle&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;slider-nav&quot;&gt;&lt;img src=&quot;{{ asset('img/5.jpeg') }}&quot; alt=&quot;Testimonial&quot; class=&quot;rounded-circle&quot;&gt;&lt;/div&gt;
&lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-12&quot;&gt;
                &lt;div class=&quot;testimonial-slider&quot;&gt;
                    &lt;!-- Artisan 1 --&gt;
                    &lt;div class=&quot;slider-item&quot;&gt;
                        &lt;h3&gt;Mohamed Lounis&lt;/h3&gt;
                        &lt;h4&gt;&Eacute;lectricien&lt;/h4&gt;
                        &lt;p&gt;Gr&acirc;ce &agrave; cette plateforme, j&rsquo;ai pu toucher plus de clients dans ma r&eacute;gion. Les demandes sont s&eacute;rieuses et r&eacute;guli&egrave;res. Un vrai coup de boost pour mon activit&eacute;.&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;!-- Artisan 2 --&gt;
                    &lt;div class=&quot;slider-item&quot;&gt;
                        &lt;h3&gt;Yasmine Amrani&lt;/h3&gt;
                        &lt;h4&gt;D&eacute;coratrice d&rsquo;int&eacute;rieur&lt;/h4&gt;
                        &lt;p&gt;J&rsquo;ai appr&eacute;ci&eacute; la simplicit&eacute; d&rsquo;inscription et la mani&egrave;re dont mon profil a &eacute;t&eacute; mis en avant. J&rsquo;ai re&ccedil;u plusieurs contacts d&egrave;s les premi&egrave;res semaines.&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;!-- Artisan 3 --&gt;
                    &lt;div class=&quot;slider-item&quot;&gt;
                        &lt;h3&gt;Ali Sebai&lt;/h3&gt;
                        &lt;h4&gt;Plombier chauffagiste&lt;/h4&gt;
                        &lt;p&gt;Enfin un site qui comprend les besoins des artisans ! Interface claire, clients r&eacute;els, et un bon suivi. Je recommande les yeux ferm&eacute;s.&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;!-- Client 1 --&gt;
                    &lt;div class=&quot;slider-item&quot;&gt;
                        &lt;h3&gt;Rania Djalal&lt;/h3&gt;
                        &lt;h4&gt;Cliente - Peinture et d&eacute;co&lt;/h4&gt;
                        &lt;p&gt;J&rsquo;ai trouv&eacute; un artisan tr&egrave;s comp&eacute;tent en quelques clics. Travail propre, rapide, et exactement comme je l&rsquo;esp&eacute;rais. Merci pour la mise en relation !&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;!-- Client 2 --&gt;
                    &lt;div class=&quot;slider-item&quot;&gt;
                        &lt;h3&gt;Hakim Boulahbal&lt;/h3&gt;
                        &lt;h4&gt;Client - R&eacute;novation salle de bain&lt;/h4&gt;
                        &lt;p&gt;Le site m&rsquo;a permis de comparer plusieurs artisans et choisir celui qui me convenait le mieux. Le r&eacute;sultat est impeccable !&lt;/p&gt;
                    &lt;/div&gt;
                    &lt;!-- Client 3 --&gt;
                    &lt;div class=&quot;slider-item&quot;&gt;
                        &lt;h3&gt;Sabrina Mecheri&lt;/h3&gt;
                        &lt;h4&gt;Cliente - Couture sur mesure&lt;/h4&gt;
                        &lt;p&gt;Service pratique et s&eacute;curis&eacute;. J&rsquo;ai &eacute;t&eacute; mise en contact avec une couturi&egrave;re exceptionnelle. Je suis tr&egrave;s satisfaite du rendu final.&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

            &lt;!-- Testimonial End --&gt;


            &lt;!-- Blog Start --&gt;
            &lt;div class=&quot;blog&quot;&gt;
            
&lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;section-header text-center&quot;&gt;
        &lt;p&gt;Nos Collaborateurs&lt;/p&gt;
        &lt;h2&gt;Artisans &amp; Soci&eacute;t&eacute;s d'artisans&lt;/h2&gt;
    &lt;/div&gt;
    @auth
    &lt;div class=&quot;row&quot;&gt;
        @foreach($artisans as $a)
        &lt;div class=&quot;col-lg-4 col-md-6 wow fadeInUp&quot;&gt;
            &lt;div class=&quot;blog-item&quot;&gt;
                &lt;div class=&quot;blog-img&quot;&gt;
                    &lt;img src=&quot;{{ asset('img/' . $a-&gt;photo) }}&quot; alt=&quot;Artisan&quot; style=&quot;height: 250px; object-fit: cover;&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;blog-title&quot;&gt;
                    &lt;h3&gt;{{ $a-&gt;nom }}&lt;/h3&gt;
                    &lt;a class=&quot;btn&quot; href=&quot;https://wa.me/{{ preg_replace('/\D+/', '', $a-&gt;whatsapp) }}&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fab fa-whatsapp&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;blog-meta&quot;&gt;
                    &lt;p&gt;&lt;strong&gt;M&eacute;tier:&lt;/strong&gt; {{ $a-&gt;profession }}&lt;/p&gt;
                    &lt;p&gt;&lt;strong&gt;Ville:&lt;/strong&gt; {{ $a-&gt;ville }}&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;blog-text&quot;&gt;
                    &lt;p&gt;&lt;strong&gt;Adresse:&lt;/strong&gt; {{ $a-&gt;adresse }}&lt;/p&gt;
                    &lt;p&gt;&lt;strong&gt;T&eacute;l&eacute;phone:&lt;/strong&gt; {{ $a-&gt;telephone }}&lt;/p&gt;
                    &lt;div&gt;
                        @if($a-&gt;facebook)
                            &lt;a href=&quot;{{ $a-&gt;facebook }}&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fab fa-facebook-f&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        @endif
                        @if($a-&gt;instagram)
                            &lt;a href=&quot;{{ $a-&gt;instagram }}&quot; target=&quot;_blank&quot;&gt;&lt;i class=&quot;fab fa-instagram&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                        @endif
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        @endforeach

        @foreach($societes as $s)
        &lt;div class=&quot;col-lg-4 col-md-6 wow fadeInUp&quot;&gt;
            &lt;div class=&quot;blog-item&quot;&gt;
                &lt;div class=&quot;blog-img&quot;&gt;
                    &lt;img src=&quot;{{ asset('img/' . $s-&gt;photo) }}&quot; alt=&quot;Soci&eacute;t&eacute;&quot; style=&quot;height: 250px; object-fit: cover;&quot;&gt;
                &lt;/div&gt;
                &lt;div class=&quot;blog-title&quot;&gt;
                    &lt;h3&gt;{{ $s-&gt;nom_societe }}&lt;/h3&gt;
                    &lt;a class=&quot;btn&quot; href=&quot;#&quot;&gt;&lt;i class=&quot;fas fa-building&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/div&gt;
                &lt;div class=&quot;blog-meta&quot;&gt;
                    &lt;p&gt;&lt;strong&gt;Ville:&lt;/strong&gt; {{ $s-&gt;ville }}&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;blog-text&quot;&gt;
                    &lt;p&gt;&lt;strong&gt;Adresse:&lt;/strong&gt; {{ $s-&gt;adresse }}&lt;/p&gt;
                    &lt;p&gt;&lt;strong&gt;T&eacute;l&eacute;phone:&lt;/strong&gt; {{ $s-&gt;telephone }}&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        @endforeach
    &lt;/div&gt;
&lt;/div&gt;
@endauth

@guest
&lt;div class=&quot;text-center my-5&quot;&gt;
    &lt;h4&gt;Veuillez vous connecter pour voir la liste des artisans et des soci&eacute;t&eacute;s.&lt;/h4&gt;
    &lt;a href=&quot;{{ route('auth') }}&quot; class=&quot;btn btn-primary mt-3&quot;&gt;Se connecter&lt;/a&gt;
&lt;/div&gt;
@endguest


&lt;/div&gt;

            &lt;!-- Blog End --&gt;


            &lt;!-- Footer Start --&gt;
            
            @include('layout.footer')
            
            &lt;!-- Footer End --&gt;

            &lt;a href=&quot;#&quot; class=&quot;back-to-top&quot;&gt;&lt;i class=&quot;fa fa-chevron-up&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;/div&gt;

        &lt;!-- JavaScript Libraries --&gt;
        &lt;script src=&quot;https://code.jquery.com/jquery-3.4.1.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/easing/easing.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/wow/wow.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/owlcarousel/owl.carousel.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/isotope/isotope.pkgd.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/lightbox/js/lightbox.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/waypoints/waypoints.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/counterup/counterup.min.js') }}&quot;&gt;&lt;/script&gt;
        &lt;script src=&quot;{{ asset('lib/slick/slick.min.js') }}&quot;&gt;&lt;/script&gt;

        &lt;!-- Template Javascript --&gt;
        &lt;script src=&quot;{{ asset('js/main.js') }}&quot;&gt;&lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;
</div>
<script src="https://www.zeljkoobrenovic.com/tools/common/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/php");
    editor.setTheme("ace/theme/xcode");
    editor.setReadOnly(true);
    editor.setOption("wrap", true);
    editor.setPrintMarginColumn(120);
</script>
</body>
