<html>
<head>
    <title>Owl.prototype.add = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">Owl.prototype.add = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/owlcarousel/owl.carousel.js [1322:1348]</i></p>
<ul>
    <li><b>20</b> lines of code</li>
    <li><b>10</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
	Owl.prototype.add = function(content, position) {
		var current = this.relative(this._current);

		position = position === undefined ? this._items.length : this.normalize(position, true);
		content = content instanceof jQuery ? content : $(content);

		this.trigger('add', { content: content, position: position });

		content = this.prepare(content);

		if (this._items.length === 0 || position === this._items.length) {
			this._items.length === 0 &amp;&amp; this.$stage.append(content);
			this._items.length !== 0 &amp;&amp; this._items[position - 1].after(content);
			this._items.push(content);
			this._mergers.push(content.find('[data-merge]').addBack('[data-merge]').attr('data-merge') * 1 || 1);
		} else {
			this._items[position].before(content);
			this._items.splice(position, 0, content);
			this._mergers.splice(position, 0, content.find('[data-merge]').addBack('[data-merge]').attr('data-merge') * 1 || 1);
		}

		this._items[current] &amp;&amp; this.reset(this._items[current].index());

		this.invalidate('items');

		this.trigger('added', { content: content, position: position });
	};

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
