<html>
<head>
    <title>proto.measureColumns = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">proto.measureColumns = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/isotope/isotope.pkgd.js [2562:2585]</i></p>
<ul>
    <li><b>18</b> lines of code</li>
    <li><b>8</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
  proto.measureColumns = function() {
    this.getContainerWidth();
    // if columnWidth is 0, default to outerWidth of first item
    if ( !this.columnWidth ) {
      var firstItem = this.items[0];
      var firstItemElem = firstItem &amp;&amp; firstItem.element;
      // columnWidth fall back to item of first element
      this.columnWidth = firstItemElem &amp;&amp; getSize( firstItemElem ).outerWidth ||
        // if first elem has no width, default to size of container
        this.containerWidth;
    }

    var columnWidth = this.columnWidth += this.gutter;

    // calculate columns
    var containerWidth = this.containerWidth + this.gutter;
    var cols = containerWidth / columnWidth;
    // fix rounding errors, typically with gutters
    var excess = columnWidth - containerWidth % columnWidth;
    // if overshoot is less than a pixel, round up, otherwise floor it
    var mathMethod = excess &amp;&amp; excess &lt; 1 ? 'round' : 'floor';
    cols = Math[ mathMethod ]( cols );
    this.cols = Math.max( cols, 1 );
  };

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
