<html>
<head>
    <title>proto._filter = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">proto._filter = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/isotope/isotope.pkgd.js [3174:3210]</i></p>
<ul>
    <li><b>28</b> lines of code</li>
    <li><b>9</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
  proto._filter = function( items ) {
    var filter = this.options.filter;
    filter = filter || '*';
    var matches = [];
    var hiddenMatched = [];
    var visibleUnmatched = [];

    var test = this._getFilterTest( filter );

    // test each item
    for ( var i=0; i &lt; items.length; i++ ) {
      var item = items[i];
      if ( item.isIgnored ) {
        continue;
      }
      // add item to either matched or unmatched group
      var isMatched = test( item );
      // item.isFilterMatched = isMatched;
      // add to matches if its a match
      if ( isMatched ) {
        matches.push( item );
      }
      // add to additional group if item needs to be hidden or revealed
      if ( isMatched &amp;&amp; item.isHidden ) {
        hiddenMatched.push( item );
      } else if ( !isMatched &amp;&amp; !item.isHidden ) {
        visibleUnmatched.push( item );
      }
    }

    // return collections of items to be manipulated
    return {
      matches: matches,
      needReveal: hiddenMatched,
      needHide: visibleUnmatched
    };
  };

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
