<html>
<head>
    <title>Owl.prototype.op = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">Owl.prototype.op = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/owlcarousel/owl.carousel.js [1435:1449]</i></p>
<ul>
    <li><b>15</b> lines of code</li>
    <li><b>9</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
	Owl.prototype.op = function(a, o, b) {
		var rtl = this.settings.rtl;
		switch (o) {
			case '&lt;':
				return rtl ? a &gt; b : a &lt; b;
			case '&gt;':
				return rtl ? a &lt; b : a &gt; b;
			case '&gt;=':
				return rtl ? a &lt;= b : a &gt;= b;
			case '&lt;=':
				return rtl ? a &gt;= b : a &lt;= b;
			default:
				break;
		}
	};

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
