<html>
<head>
    <title>Owl.prototype.pointer = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">Owl.prototype.pointer = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/owlcarousel/owl.carousel.js [1610:1628]</i></p>
<ul>
    <li><b>15</b> lines of code</li>
    <li><b>8</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
	Owl.prototype.pointer = function(event) {
		var result = { x: null, y: null };

		event = event.originalEvent || event || window.event;

		event = event.touches &amp;&amp; event.touches.length ?
			event.touches[0] : event.changedTouches &amp;&amp; event.changedTouches.length ?
				event.changedTouches[0] : event;

		if (event.pageX) {
			result.x = event.pageX;
			result.y = event.pageY;
		} else {
			result.x = event.clientX;
			result.y = event.clientY;
		}

		return result;
	};

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
