<html>
<head>
    <title>var Lazy = function()</title>
    <link rel="stylesheet" charset="UTF-8" href="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/styles/docco.min.css">
    <script charset="UTF-8" type="application/javascript" src="https://d2bb1mtyn3kglb.cloudfront.net/lib/highlight/highlight.min.js"></script>
</head>
<body style="font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif">
<h3 style="margin-bottom: 0">var Lazy = function()</h3>
<p style="margin-top: 4px">in <i>public/lib/owlcarousel/owl.carousel.js [1825:1878]</i></p>
<ul>
    <li><b>46</b> lines of code</li>
    <li><b>15</b> McCabe index (conditional complexity)</li>
</ul>
<pre>
<code class="js">
	var Lazy = function(carousel) {

		/**
		 * Reference to the core.
		 * @protected
		 * @type {Owl}
		 */
		this._core = carousel;

		/**
		 * Already loaded items.
		 * @protected
		 * @type {Array.&lt;jQuery&gt;}
		 */
		this._loaded = [];

		/**
		 * Event handlers.
		 * @protected
		 * @type {Object}
		 */
		this._handlers = {
			'initialized.owl.carousel change.owl.carousel resized.owl.carousel': $.proxy(function(e) {
				if (!e.namespace) {
					return;
				}

				if (!this._core.settings || !this._core.settings.lazyLoad) {
					return;
				}

				if ((e.property &amp;&amp; e.property.name == 'position') || e.type == 'initialized') {
					var settings = this._core.settings,
						n = (settings.center &amp;&amp; Math.ceil(settings.items / 2) || settings.items),
						i = ((settings.center &amp;&amp; n * -1) || 0),
						position = (e.property &amp;&amp; e.property.value !== undefined ? e.property.value : this._core.current()) + i,
						clones = this._core.clones().length,
						load = $.proxy(function(i, v) { this.load(v) }, this);

					while (i++ &lt; n) {
						this.load(clones / 2 + this._core.relative(position));
						clones &amp;&amp; $.each(this._core.clones(this._core.relative(position)), load);
						position++;
					}
				}
			}, this)
		};

		// set the default options
		this._core.options = $.extend({}, Lazy.Defaults, this._core.options);

		// register event handler
		this._core.$element.on(this._handlers);
	};

</code>
</pre>
<script>
    hljs.initHighlightingOnLoad();
</script>
</body>
